## America's Working Class and How It Helped Swing the 2016 Election

Many pundits have argued that this past election was decided by America's working class. It has always been the case that jobs and the economy play a pivotal role in influencing the voting decisions of many Americans. With the Great Recession of 2008-2011, and an increasing shift towards a globalized economy, traditionally blue-collar industries such as construction, manufacturing, and transportation and trade felt the brunt of those effects through the loss of jobs. 

We hypothesize in this project that the people most affected by these changes - America's working class - responded to these changes with their votes, and may correlate with whether a state went red or blue in 2016. While obviously it's hard to definitively pin down a cause just based on how people voted, we want to compare labor department data about umeployment in certain sectors and voting data from certain states to see if we can find a trend or come to any interesting conclusions.

For our project, we look towards a number of sources to aid in our analysis. First, on the labor statistics front, we looked towards the [Bureau of Labor Statistics](http://www.bls.gov/bls/proghome.htm) and, specifically, the [Bureau of Labor Statistics Public Data API](http://www.bls.gov/developers/api_signature_v2.htm) to collect data on unemployment over the industries most impacted by the recession, and break down this data by state. We will combine this feature with the recovery rate of a given state by 2016. Second, for election data, we turn towards major news sources like [Politico](http://www.politico.com/) and the [New York Times](http://www.nytimes.com) to collect voter numbers from each state during the 2008, 2012, and 2016 elections.

## Analyzing the Election

Though both Politico and the New York Times, as many news sources do, ultimately draw their data from the Associated Press, API keys for AP aren't free, so we'll have to take a slightly more indirect approach by scraping the news pages themselves for the data instead of getting it directly from AP. Unfortunately, due to formatting changes over the years, it's a little more difficult than we'd like it to be to fetch voter data from the 2008, 2012, and 2016 elections with one script. However, it's not too hard to write scripts for each of those elections individually.

In [1]:
# from IPython.core.display import display, HTML
# display(HTML("<style>.container { width:100% !important; }</style>"))
# pd.options.display.max_seq_items = 2000
# pd.set_option('display.height', 1000)
# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

In [2]:
import pandas as pd
import numpy as np
import requests
import sklearn
import time
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
from selenium import webdriver

years = ['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']


# List of states and D.C.
states = [
    'Alabama','Alaska','Arizona','Arkansas','California','Colorado',
    'Connecticut','Delaware','District Of Columbia','Florida','Georgia','Hawaii','Idaho', 
    'Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana',
    'Maine','Maryland','Massachusetts','Michigan','Minnesota',
    'Mississippi', 'Missouri','Montana','Nebraska','Nevada',
    'New Hampshire','New Jersey','New Mexico','New York',
    'North Carolina','North Dakota','Ohio',    
    'Oklahoma','Oregon','Pennsylvania','Rhode Island',
    'South Carolina','South Dakota','Tennessee','Texas','Utah',
    'Vermont','Virginia','Washington','West Virginia',
    'Wisconsin','Wyoming'
]

state_codes = {
    'Alabama' : '01',
    'Alaska' : '02',
    'Arizona' : '04',
    'Arkansas' : '05',
    'California' : '06',
    'Colorado' : '08',
    'Connecticut' : '09',
    'Delaware' : '10',
    'District Of Columbia' : '11',
    'Florida' : '12',
    'Georgia' : '13',
    'Hawaii' : '15',
    'Idaho' : '16', 
    'Illinois' : '17',
    'Indiana' : '18',
    'Iowa' : '19',
    'Kansas' : '20',
    'Kentucky' : '21',
    'Louisiana' : '22',
    'Maine' : '23',
    'Maryland' : '24',
    'Massachusetts' : '25',
    'Michigan' : '26',
    'Minnesota' : '27',
    'Mississippi' : '28',
    'Missouri' : '29',
    'Montana' : '30',
    'Nebraska' : '31',
    'Nevada' : '32',
    'New Hampshire' : '33',
    'New Jersey' : '34',
    'New Mexico' : '35',
    'New York' : '36',
    'North Carolina' : '37',
    'North Dakota' : '38',
    'Ohio' : '39',    
    'Oklahoma' : '40',
    'Oregon' : '41',
    'Pennsylvania' : '42',
    'Rhode Island' : '44',
    'South Carolina' : '45',
    'South Dakota' : '46',
    'Tennessee' : '47',
    'Texas' : '48',
    'Utah' : '49',
    'Vermont' : '50',
    'Virginia' : '51',
    'Washington' : '53',
    'West Virginia' : '54',
    'Wisconsin' : '55',
    'Wyoming' : '56'
    }

industries = ['information', 'finance', 'construction', 'manufacturing', 'transport_and_trade', 'all']

First, we'll be collecting 2008 data from the New York Times page on the election. In terms of formatting, we're hoping to get mainly the state and the number of votes for the Democratic and Republican party candidates (we'll be ignoring third-parties in this analysis).

In [3]:
'''
Converts data taken from the table in the html
    Input: a table row of voting data, in html
    Output: a list of data in a more desirable format
'''
def voter_html_to_data_2008(voter_html):
    data = [datum.get_text().strip() for datum in voter_html.find_all('td')]
    blue_votes = int(data[2][:-5].replace(',',''))
    red_votes = int(data[4][:-5].replace(',',''))
    return [blue_votes, red_votes]

def get_voter_data_2008():
    # Set up our data frame
    df = pd.DataFrame(columns=('election_year', 'state', 'dem_votes', 'rep_votes'))
    
    # Base url we'll be getting data from 
    base_url = 'http://elections.nytimes.com/2008/results/states/president/'
    
    # Get state names for url endings
    state_urls = sorted([state.lower().replace(' ', '-') for state in states])

    # Iterate through the states (except for Alaska and D.C.)
    num_states = 0
    for state in state_urls:
        if state != 'alaska' and state != 'district-of-columbia':
            # Get data from the site
            response = requests.get(base_url + state + '.html')
            election_soup = BeautifulSoup(response.text, 'html.parser')

            # Data for all states except for Alaska and D.C.
            data_rows = election_soup.find(id='winners-by-county-table').tbody.find_all('tr')
            
            # Data that every row will have (election year and state)
            header_data = ['2008', state]
            state_vote_lists = [voter_html_to_data_2008(row) for row in data_rows]
            state_vote_counts = [sum([vote[0] for vote in state_vote_lists]), sum([vote[1] for vote in state_vote_lists])]
            voter_data = header_data + state_vote_counts
            df.loc[num_states] = voter_data
            num_states += 1
    
    # Since Alaska and D.C. don't have counties, we process them slightly differently
    # First, Alaska
    alaska_html = requests.get('http://elections.nytimes.com/2008/results/states/alaska.html')
    alaska_election_soup = BeautifulSoup(alaska_html.text, 'html.parser')
    
    alaska_obama = alaska_election_soup.find(id='presidential-results-table').tbody.find_all('tr')[:2][1].find_all('td')
    alaska_mccain = alaska_election_soup.find(id='presidential-results-table').tbody.find_all('tr')[:2][0].find_all('td')
    alaska_blue_votes = int(alaska_obama[1].get_text().strip().replace(',',''))
    alaska_red_votes = int(alaska_mccain[2].get_text().strip().replace(',',''))
    alaska_data = ['2008', 'alaska', alaska_blue_votes, alaska_red_votes]
    df.loc[num_states] = alaska_data
    num_states += 1
    
    # Finally, D.C.
    dc_html = requests.get('http://elections.nytimes.com/2008/results/states/district-of-columbia.html')
    dc_election_soup = BeautifulSoup(dc_html.text, 'html.parser')

    dc_obama = dc_election_soup.find(id='presidential-results-table').tbody.find_all('tr')[:2][0].find_all('td')
    dc_mccain = dc_election_soup.find(id='presidential-results-table').tbody.find_all('tr')[:2][1].find_all('td')
    dc_blue_votes = int(dc_obama[2].get_text().strip().replace(',',''))
    dc_red_votes = int(dc_mccain[1].get_text().strip().replace(',',''))
    dc_data = ['2008', 'district-of-columbia', dc_blue_votes, dc_red_votes]
    df.loc[num_states] = dc_data
    num_states += 1
    
    return df

In [4]:
df_2008 = get_voter_data_2008()

In [5]:
df_2008

   election_year                 state  dem_votes  rep_votes
0           2008               alabama   811764.0  1264879.0
1           2008               arizona   948648.0  1132560.0
2           2008              arkansas   418049.0   632672.0
3           2008            california  7441458.0  4554643.0
4           2008              colorado  1216793.0  1020135.0
5           2008           connecticut   994320.0   627688.0
6           2008              delaware   255394.0   152356.0
7           2008               florida  4143957.0  3939380.0
8           2008               georgia  1843452.0  2048244.0
9           2008                hawaii   324918.0   120309.0
10          2008                 idaho   235219.0   400989.0
11          2008              illinois  3319237.0  1981158.0
12          2008               indiana  1367264.0  1341101.0
13          2008                  iowa   818240.0   677508.0
14          2008                kansas   499979.0   685541.0
15          2008              kentucky   746510.0  1043264.0
16          2008             louisiana   780981.0  1147603.0
17          2008                 maine   421481.0   296192.0
18          2008              maryland  1612692.0   956663.0
19          2008         massachusetts  1891083.0  1104284.0
20          2008              michigan  2867680.0  2044405.0
21          2008             minnesota  1573323.0  1275400.0
22          2008           mississippi   520864.0   687266.0
23          2008              missouri  1442180.0  1445812.0
24          2008               montana   229725.0   241816.0
25          2008              nebraska   329132.0   448801.0
26          2008                nevada   531884.0   411988.0
27          2008         new-hampshire   384591.0   316937.0
28          2008            new-jersey  2085051.0  1545495.0
29          2008            new-mexico   458754.0   340857.0
30          2008              new-york  4363386.0  2576360.0
31          2008        north-carolina  2123390.0  2109698.0
32          2008          north-dakota   141113.0   168523.0
33          2008                  ohio  2708685.0  2501855.0
34          2008              oklahoma   502294.0   959745.0
35          2008                oregon   978605.0   699673.0
36          2008          pennsylvania  3192316.0  2586496.0
37          2008          rhode-island   275488.0   152502.0
38          2008        south-carolina   850121.0  1018756.0
39          2008          south-dakota   170886.0   203019.0
40          2008             tennessee  1081074.0  1470160.0
41          2008                 texas  3521164.0  4467748.0
42          2008                  utah   317063.0   568610.0
43          2008               vermont   219105.0    98791.0
44          2008              virginia  1958370.0  1726053.0
45          2008            washington  1547632.0  1097176.0
46          2008         west-virginia   301438.0   394278.0
47          2008             wisconsin  1670474.0  1258181.0
48          2008               wyoming    80496.0   160639.0
49          2008                alaska   122485.0   192631.0
50          2008  district-of-columbia   210403.0    14821.0

For 2012, we'll switch to Politico, since the website formatting is slightly easier to parse than the interactive graphics on the New York Times site.

In [6]:
def get_voter_data_2012():
    # Set up our data frame
    df = pd.DataFrame(columns=('election_year', 'state', 'dem_votes', 'rep_votes'))
    
    # Base url we'll be getting data from
    base_url = 'http://www.politico.com/2012-election/results/president/'
    
    # Get state names for url endings
    state_urls = sorted([state.lower().replace(' ', '-') for state in states])
    
    # Once again, Alaska and D.C. are slightly different
    num_states = 0
    for state in state_urls:
        # Get data from site
        try:
            response = requests.get(base_url + state + '/')
        except ConnectionError:
            time.sleep(2)
            response = requests.get(base_url + state + '/')
        election_soup = BeautifulSoup(response.text, 'html.parser')
        header_data = ['2012', state]
        data = election_soup.find('div', class_='state-results-macro').table.tbody
        blue_votes = int(data.find(class_='party-democrat').find(class_='results-popular').get_text().strip().replace(',',''))
        red_votes = int(data.find(class_='party-republican').find(class_='results-popular').get_text().strip().replace(',',''))
        voter_data = header_data + [blue_votes, red_votes]
        df.loc[num_states] = voter_data
        num_states += 1
        
    return df

In [7]:
df_2012 = get_voter_data_2012()

In [8]:
df_2012

   election_year                 state  dem_votes  rep_votes
0           2012               alabama   793620.0  1252453.0
1           2012                alaska   102138.0   136848.0
2           2012               arizona   930669.0  1143051.0
3           2012              arkansas   389699.0   638467.0
4           2012            california  6493924.0  4202127.0
5           2012              colorado  1238490.0  1125391.0
6           2012           connecticut   912531.0   631432.0
7           2012              delaware   242547.0   165476.0
8           2012  district-of-columbia   222332.0    17337.0
9           2012               florida  4235270.0  4162081.0
10          2012               georgia  1761761.0  2070221.0
11          2012                hawaii   303090.0   119494.0
12          2012                 idaho   212560.0   420750.0
13          2012              illinois  2916811.0  2090116.0
14          2012               indiana  1140425.0  1412620.0
15          2012                  iowa   816429.0   727928.0
16          2012                kansas   427918.0   678719.0
17          2012              kentucky   679340.0  1087127.0
18          2012             louisiana   808496.0  1152460.0
19          2012                 maine   397754.0   290437.0
20          2012              maryland  1527686.0   904970.0
21          2012         massachusetts  1900575.0  1177370.0
22          2012              michigan  2561911.0  2112673.0
23          2012             minnesota  1547668.0  1321575.0
24          2012           mississippi   528260.0   674302.0
25          2012              missouri  1215031.0  1478961.0
26          2012               montana   200489.0   264974.0
27          2012              nebraska   289154.0   462972.0
28          2012                nevada   528801.0   462422.0
29          2012         new-hampshire   368529.0   327870.0
30          2012            new-jersey  1960744.0  1383233.0
31          2012            new-mexico   408312.0   331915.0
32          2012              new-york  3875826.0  2226637.0
33          2012        north-carolina  2178388.0  2275853.0
34          2012          north-dakota   124490.0   187586.0
35          2012                  ohio  2697260.0  2593779.0
36          2012              oklahoma   442647.0   889372.0
37          2012                oregon   937321.0   733743.0
38          2012          pennsylvania  2907448.0  2619583.0
39          2012          rhode-island   274342.0   155355.0
40          2012        south-carolina   845756.0  1049507.0
41          2012          south-dakota   144988.0   210541.0
42          2012             tennessee   953043.0  1453097.0
43          2012                 texas  3294440.0  4555799.0
44          2012                  utah   229463.0   671747.0
45          2012               vermont   199259.0    92700.0
46          2012              virginia  1905528.0  1789618.0
47          2012            washington  1620432.0  1210369.0
48          2012         west-virginia   234925.0   412406.0
49          2012             wisconsin  1613950.0  1408746.0
50          2012               wyoming    68780.0   170265.0

Finally, for 2016, we'll be using Politico again.

In [9]:
def voter_html_to_data_2016(voter_html):
    blue_votes = int(voter_html.find(class_='type-democrat').find(class_='results-popular').get_text().replace(',',''))
    red_votes = int(voter_html.find(class_='type-republican').find(class_='results-popular').get_text().replace(',',''))
    return [blue_votes, red_votes]

def get_voter_data_2016():
    # Set up our data frame
    df = pd.DataFrame(columns=('election_year', 'state', 'dem_votes', 'rep_votes'))
    
    # Base url we'll be getting data from
    base_url = 'http://www.politico.com/2016-election/results/map/president/'
    
    # Get state names for url endings
    state_urls = sorted([state.lower().replace(' ', '-') for state in states])
    
    # This time, Alaska and D.C. aren't different!
    num_states = 0
    for state in state_urls:
        # Get data from site
        response = requests.get(base_url + state + '/')
        election_soup = BeautifulSoup(response.text, 'html.parser')

        data = election_soup.select('section.content-group.election-intro')[0].find('div', class_='overall')
        header_data = ['2016', state]
        voter_data = header_data + voter_html_to_data_2016(data)
        df.loc[num_states] = voter_data
        num_states += 1
    
    return df

In [10]:
df_2016 = get_voter_data_2016()

In [11]:
df_2016

   election_year                 state  dem_votes  rep_votes
0           2016               alabama   718084.0  1306925.0
1           2016                alaska    93007.0   130415.0
2           2016               arizona   936250.0  1021154.0
3           2016              arkansas   378729.0   677904.0
4           2016            california  7362490.0  3916209.0
5           2016              colorado  1208095.0  1136354.0
6           2016           connecticut   884432.0   668266.0
7           2016              delaware   235581.0   185103.0
8           2016  district-of-columbia   260223.0    11553.0
9           2016               florida  4485745.0  4605515.0
10          2016               georgia  1837300.0  2068623.0
11          2016                hawaii   251853.0   121648.0
12          2016                 idaho   189677.0   407199.0
13          2016              illinois  2977498.0  2118179.0
14          2016               indiana  1031953.0  1556220.0
15          2016                  iowa   650790.0   798923.0
16          2016                kansas   414788.0   656009.0
17          2016              kentucky   628834.0  1202942.0
18          2016             louisiana   779535.0  1178004.0
19          2016                 maine   354873.0   334838.0
20          2016              maryland  1497951.0   873646.0
21          2016         massachusetts  1964768.0  1083069.0
22          2016              michigan  2268193.0  2279805.0
23          2016             minnesota  1366676.0  1322891.0
24          2016           mississippi   462001.0   678457.0
25          2016              missouri  1054889.0  1585753.0
26          2016               montana   174521.0   274120.0
27          2016              nebraska   273858.0   485819.0
28          2016                nevada   537753.0   511319.0
29          2016         new-hampshire   348521.0   345789.0
30          2016            new-jersey  2021756.0  1535513.0
31          2016            new-mexico   380724.0   315875.0
32          2016              new-york  4143874.0  2640570.0
33          2016        north-carolina  2162074.0  2339603.0
34          2016          north-dakota    93526.0   216133.0
35          2016                  ohio  2317001.0  2771984.0
36          2016              oklahoma   419788.0   947934.0
37          2016                oregon   934631.0   742506.0
38          2016          pennsylvania  2844705.0  2912941.0
39          2016          rhode-island   249902.0   179421.0
40          2016        south-carolina   849469.0  1143611.0
41          2016          south-dakota   117442.0   227701.0
42          2016             tennessee   867110.0  1517402.0
43          2016                 texas  3867816.0  4681590.0
44          2016                  utah   274188.0   452086.0
45          2016               vermont   178179.0    95053.0
46          2016              virginia  1916845.0  1731156.0
47          2016            washington  1610524.0  1129120.0
48          2016         west-virginia   187457.0   486198.0
49          2016             wisconsin  1382210.0  1409467.0
50          2016               wyoming    55949.0   174248.0

To aid in our analysis, we'll create a simple function to find the percent of the state that voted blue, given an election year.

In [12]:
def find_percent_blue(state, year):
    if year == 2008:
        df = df_2008
    elif year == 2012:
        df = df_2012
    else:
        df = df_2016
    df = df.set_index('state')
    dem_votes = df.at[state,'dem_votes']
    rep_votes = df.at[state, 'rep_votes']
    return dem_votes / (dem_votes + rep_votes)

In [13]:
print find_percent_blue('california', 2012)
print find_percent_blue('california', 2016)

0.60713285679
0.652778303597

Next, we'll begin gathering data from the BLS, specifically, data regarding employment by state in the industries most negatively impacted by the recession (construction, manufacturing, and transportation/trade), as well as overall employment, in thousands of employees.

---

## Scraping Labor Statistics

In [14]:
import json, string
import requests, tqdm
from collections import defaultdict

To utilize the Bureau of Labor Statistics Public API is unintuitive, to say the least. Essentially, each unique dataset that the BLS keeps has a serial ID that correesponds to it. Querying the data from the API involves figuring out exactly which dataset you want, and then translating that to a serial ID. The code below allows us to input requests in a reasonable format like JSON and have that get converted to the serial ID that we need.

In [15]:
def opand(x,y): 
    return x and y


def nest(keys, d_keys, d):
    assert (len(keys) == len(d_keys))
    iter_format = lambda (i, d_key) : "for x%d in d['%s']" % (i, d_key)
    iters = string.join(map(iter_format, enumerate(d_keys)), sep=" ")
    arg_format = lambda (i) : '("' + keys[i] + '", x' + str(i) + ')'
    args = string.join(map(arg_format, range(len(keys))), sep=", ")
    return eval('[dict([' +  args +  ']) ' + iters + ']')


def request(series):
    """
    brief:
        - requests series in batches of 15, returns list of json_data, 
          one for each request
    args:
        - series : list of bls series id's
    """
    bls_url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'
    regKeys = ["bc2b9775e9794f37a23c0f6b2a4659b1", 
               "8874280f2cc142f3833754ad3cb6855c",
               "dacaff7ea67b466685622348e9807f8f"]
    json_data = []
    for i in tqdm.tqdm(range(0,len(series),50)):
        headers = {'Content-type': 'application/json'}
        data = json.dumps({"seriesid": series[i:i+50],
                           "startyear":"2004", 
                           "endyear":"2016", 
                           "registrationKey":regKeys[2]})
        try:
            response = requests.post(bls_url, data=data, headers=headers)
        except ConnectionError:
            time.sleep(2)
            response = requests.post(bls_url, data=data, headers=headers)
        json_data.append(json.loads(response.text))
    return json_data


def format_series(config):
    """
    brief:
        - formats a request for data from the bls state and area employment, 
          hours, and earnings database if config['prefix'] == 'SM'

        - formats a request for data from the bls local area unemployment 
          statistics database if config['prefix'] == 'SA'
    args:
        - config : {                   # http://www.bls.gov/help/hlpforma.htm#SM
                    'prefix' : 'SM',
                    'seasonal_adjustment' : 'S' or 'U',
                    'state_code' : '01' to '50', 
                    'area_code' : '00000' to '99999',
                    'supersector' : '00' to '99', 
                    'industry' : '000000' to '999999',     
                    'datatype' : '00' to '99'              
                    }
                or {                   # http://www.bls.gov/help/hlpforma.htm#LA
                    'prefix' : 'LA', 
                    'seasonal_adjustment' : 'S' or 'U',
                    'area_type' : 'ST' or 'MT', 
                    'state_code' : '01' to '50',
                    'area_code' : '000000000' or 'YYYYYYYYYYY'
                    'measure': '03' to '06'
                   }
    """
    keys = dict({'SM' : ['prefix','seasonal_adjustment','state_code','area_code','supersector','industry','datatype'],
                 'LA' : ['prefix', 'seasonal_adjustment','state_area_code', 'measure'],
                 })
    prefix = config['prefix']
    return string.join([config[key] for key in keys[prefix]], sep="")


def make_series(config):
    """
    brief:
        - provided a dictionary of bls series id parameters,
          construct and request each possible series_id given parameters
    args:
        - config : {
                    'prefix' : ['SM'],
                    'seasonal_adjustments' : ['S' or 'U'],
                    'state_codes' : [string],
                    'area_codes' : [{string -> string}],
                    'supersectors' : [string],
                    'industries' : [string],
                    'datatypes' : [string]
                    }
                or {
                    'prefix' : ['LA'],
                    'seasonal_adjustment' : ['S' or 'U'],
                    'area_types' : ['ST' or 'MT'],
                    'state_codes' : ['01' to '50']
                    'area_codes' : [{'ST', 'xx' --> 'STxx00000000000', 
                                    'MT', 'xx' --> 'MTxxYYYYYYYYYYY'}]
                    'measures': [string]
                   }
    """
    keys = dict({'SM' : ['prefix','seasonal_adjustment','state_code','area_code','supersector','industry','datatype'],
                 'LA' : ['prefix','seasonal_adjustment','state_area_code','measure'],
                 })
    param_keys = dict({'SM' : ['prefix','seasonal_adjustments','state_codes','area_codes','supersectors','industries','datatypes'],
                       'LA' : ['prefix','seasonal_adjustments','state_area_codes','measures'],
                       })
    prefix = config['prefix'][0]
    return [format_series(sid) for sid in nest(keys[prefix], param_keys[prefix], config)]

With that, now we can actually use the API to get some useful information. Here, with a provided listed of metro codes (BLS codes corresponding to different metropolitan areas in the U.S.), and using those, we can construct queries to fetch various employment statistics from different states and metropolitan areas.

In [16]:
config = {'prefix' : ['SM'],
          'seasonal_adjustments' : ['S', 'U'],
          'state_codes' : state_codes.values(),
          'area_codes' : ['00000'],
          'supersectors' : ['20', '30', '40', '50', '55', '00'],
          'industries' : ['000000'],
          'datatypes' : ['01'],
          }
           
json_data_list = request(make_series(config))

# url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'
# data = json.dumps({"seriesid" : ['SMS06000002000000001'],
#                    "startyear" : "2004",
#                    "endyear" : "2016",
#                    "registrationKey" : "bc2b9775e9794f37a23c0f6b2a4659b1"
#                   })
# headers = {'Content-type': 'application/json'}

# response = requests.post(url, data=data, headers=headers)
# print response.text

100%|| 13/13 [01:03<00:00,  4.24s/it]

Now that we've retrieved our data from the BLS API, we'll format it into the Pandas dataframes we'll be performing analyses on in the next section.

In [17]:
def series_id_to_state(series_id):
    state_code_to_string = dict(zip(state_codes.values(), state_codes.keys()))
    return state_code_to_string[str(series_id[3:5])]

def series_id_to_industry(series_id):
    industry_code_to_string = dict({'50' : 'information',
                                    '55' : 'finance',
                                    '20' : 'construction',
                                    '30' : 'manufacturing',
                                    '40' : 'transport_and_trade',
                                    '00' : 'all',
                                   })
    return industry_code_to_string[series_id[10:12]]


industry_data = dict({'information' : dict(zip(states, [defaultdict(list) for i in range(len(states))])),
                      'finance' : dict(zip(states, [defaultdict(list) for i in range(len(states))])),
                      'construction' : dict(zip(states, [defaultdict(list) for i in range(len(states))])),
                      'manufacturing' : dict(zip(states, [defaultdict(list) for i in range(len(states))])),
                      'transport_and_trade' : dict(zip(states, [defaultdict(list) for i in range(len(states))])),
                      'all' : dict(zip(states, [defaultdict(list) for i in range(len(states))])),
                      })

# each json_data request has at between 1 <= # requests <= 50 in a list
for json_data in json_data_list:
    # each series in this list spans the years 2004:2016, and months 01:12
    for json_series in json_data['Results']['series']:
        series_id = json_series['seriesID']
        # the state, and industry is constant for each series
        state = series_id_to_state(series_id)
        industry = series_id_to_industry(series_id)
        # we want to average the values for each month for a given year
        for year in years:
            year_avg = []
            for entry in json_series['data']:
                if entry['year'] == year:
                    year_avg.append(float(entry['value']))
            year_avg = (0 if year_avg == [] else sum(year_avg) / len(year_avg))
            industry_data[industry][state][year].append(year_avg)

industry_dfs = dict()
for industry in industries:
    state_data = industry_data[industry]
    for state in states:
        year_data = state_data[state]
        coalesce = lambda year : sum(year_data[year]) / len(year_data[year]) if year_data[year] != [] else 0
        state_data[state] = [coalesce(year) for year in years]
    industry_dfs[industry] = pd.DataFrame(data=state_data, index=years, columns=states).transpose()

In [18]:
construction_df = industry_dfs['construction']
manufacturing_df = industry_dfs['manufacturing']
transport_and_trade_df = industry_dfs['transport_and_trade']
total_employment_df = industry_dfs['all']

In [19]:
construction_df
manufacturing_df
transport_and_trade_df
total_employment_df

,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Alabama,1901.733333,1944.858333,1979.662500,2005.725000,1992.212500,1886.420833,1870.708333,1870.154167,1885.183333,1902.675000,1922.541667,1947.037500,1965.472727
Alaska,303.179167,308.775000,313.904167,316.912500,321.170833,319.908333,324.045833,329.412500,334.795833,336.112500,337.666667,339.379167,338.818182
Arizona,2384.504167,2512.583333,2639.483333,2679.375000,2622.679167,2432.320833,2386.175000,2412.383333,2463.266667,2520.670833,2570.391667,2636.595833,2697.450000
Arkansas,1158.141667,1178.016667,1198.779167,1204.566667,1202.320833,1164.891667,1163.058333,1170.137500,1176.429167,1176.237500,1187.445833,1208.891667,1227.145455
California,14747.041667,15044.925000,15324.920833,15460.558333,15299.116667,14436.891667,14282.254167,14434.995833,14760.258333,15153.791667,15584.862500,16051.658333,16441.586364
Colorado,2179.520833,2225.937500,2279.400000,2331.216667,2350.470833,2245.533333,2222.262500,2258.779167,2313.116667,2382.083333,2464.812500,2541.466667,2605.272727
Connecticut,1649.862500,1662.291667,1680.920833,1698.395833,1699.062500,1626.479167,1607.954167,1624.141667,1637.620833,1650.037500,1661.295833,1673.658333,1684.422727
Delaware,425.079167,433.020833,438.220833,439.000000,436.783333,416.525000,413.779167,417.062500,419.454167,428.591667,438.533333,448.858333,459.277273
District Of Columbia,674.179167,682.237500,687.641667,693.733333,703.816667,701.500000,712.187500,726.220833,734.787500,748.308333,753.566667,766.433333,777.963636
Florida,7480.762500,7781.020833,7983.470833,7998.725000,7714.975000,7231.466667,7172.745833,7252.087500,7396.608333,7582.383333,7824.733333,8094.550000,8339.445455
Georgia,3922.875000,4024.691667,4111.316667,4166.095833,4122.366667,3900.116667,3860.604167,3901.083333,3953.079167,4031.641667,4144.912500,4267.516667,4378.259091
Hawaii,583.350000,601.645833,617.145833,624.795833,619.483333,591.362500,586.875000,593.458333,606.175000,618.558333,627.183333,636.858333,650.281818
Idaho,587.829167,611.279167,638.454167,654.854167,648.820833,609.779167,603.562500,610.858333,622.366667,638.016667,654.437500,673.737500,693.795455
Illinois,5815.591667,5861.412500,5930.354167,5977.966667,5947.137500,5655.691667,5610.758333,5675.583333,5750.320833,5804.329167,5879.387500,5959.587500,6006.122727
Indiana,2933.637500,2960.633333,2979.620833,2991.425000,2962.316667,2791.320833,2798.812500,2844.758333,2901.333333,2937.212500,2979.891667,3034.862500,3069.763636
Iowa,1457.266667,1480.408333,1504.375000,1519.037500,1524.320833,1478.870833,1469.354167,1486.220833,1508.875000,1528.445833,1546.987500,1562.275000,1581.436364
Kansas,1325.170833,1333.595833,1354.637500,1381.195833,1392.091667,1344.566667,1329.770833,1339.708333,1357.450000,1372.083333,1391.154167,1399.895833,1396.604545
Kentucky,1788.029167,1814.016667,1836.212500,1855.987500,1841.158333,1758.737500,1759.145833,1782.641667,1810.704167,1830.141667,1857.550000,1885.004167,1906.959091
Louisiana,1917.495833,1891.679167,1853.200000,1915.745833,1938.145833,1901.870833,1885.454167,1902.816667,1926.937500,1954.154167,1984.616667,1989.533333,1975.622727
Maine,611.795833,611.654167,614.650000,617.745833,617.254167,596.279167,592.983333,594.629167,598.108333,601.733333,605.125000,609.904167,613.236364
Maryland,2517.162500,2555.145833,2588.666667,2607.304167,2598.525000,2522.200000,2516.762500,2542.216667,2573.579167,2596.754167,2620.770833,2659.725000,2703.431818
Massachusetts,3212.358333,3231.316667,3267.595833,3305.587500,3317.887500,3210.708333,3222.175000,3259.420833,3311.216667,3366.854167,3433.700000,3493.041667,3556.900000
Michigan,4398.754167,4390.154167,4327.466667,4268.437500,4162.612500,3870.679167,3863.641667,3952.529167,4033.837500,4109.695833,4181.708333,4244.158333,4330.795455
Minnesota,2681.025000,2722.891667,2758.258333,2771.054167,2762.800000,2654.425000,2640.287500,2687.345833,2730.125000,2776.462500,2814.908333,2856.575000,2890.768182
Mississippi,1126.054167,1131.670833,1142.662500,1154.208333,1148.941667,1097.658333,1092.537500,1093.041667,1102.241667,1111.254167,1121.062500,1134.154167,1142.059091
Missouri,2696.050000,2737.050000,2776.791667,2797.862500,2792.933333,2689.750000,2658.529167,2667.095833,2685.208333,2710.625000,2739.033333,2785.041667,2815.040909
Montana,410.758333,420.191667,434.166667,444.037500,444.725000,428.929167,428.125000,431.179167,440.358333,448.608333,453.158333,460.737500,463.527273
Nebraska,921.370833,934.195833,945.691667,961.683333,969.466667,949.725000,945.112500,952.670833,968.970833,980.441667,992.841667,1006.225000,1016.795455
Nevada,1152.604167,1222.833333,1279.587500,1292.479167,1263.733333,1148.250000,1117.791667,1125.808333,1144.716667,1174.266667,1216.795833,1257.450000,1288.618182
New Hampshire,627.225000,636.550000,642.929167,648.137500,649.470833,628.429167,624.700000,628.075000,634.316667,639.512500,646.500000,656.491667,667.363636
New Jersey,3997.816667,4038.125000,4069.595833,4076.779167,4048.479167,3893.637500,3848.404167,3846.854167,3890.016667,3934.891667,3967.612500,4022.900000,4073.268182
New Mexico,790.416667,808.533333,832.129167,843.670833,846.870833,812.391667,803.308333,802.041667,804.283333,811.025000,819.125000,825.745833,827.218182
New York,8449.816667,8521.987500,8603.745833,8718.720833,8778.162500,8539.829167,8544.270833,8667.700000,8794.245833,8930.250000,9094.462500,9248.812500,9356.118182
North Carolina,3833.583333,3912.220833,4037.479167,4141.400000,4130.633333,3903.320833,3869.729167,3917.400000,3986.112500,4056.516667,4138.970833,4238.662500,4322.036364
North Dakota,337.862500,344.725000,352.245833,358.395833,367.225000,366.612500,375.995833,396.520833,428.891667,444.370833,461.229167,453.941667,441.022727
Ohio,5408.275000,5426.779167,5435.745833,5426.975000,5361.712500,5072.295833,5035.570833,5107.670833,5201.825000,5266.662500,5344.004167,5422.495833,5489.872727
Oklahoma,1487.137500,1525.233333,1565.870833,1594.879167,1618.429167,1567.541667,1555.875000,1577.741667,1614.237500,1635.458333,1656.825000,1668.462500,1661.263636
Oregon,1606.304167,1654.145833,1703.487500,1731.070833,1718.275000,1612.250000,1601.583333,1619.895833,1639.787500,1674.270833,1721.895833,1778.695833,1835.336364
Pennsylvania,5644.616667,5702.712500,5757.200000,5798.995833,5800.216667,5616.358333,5621.766667,5685.895833,5725.920833,5740.670833,5788.512500,5836.450000,5884.359091
Rhode Island,488.500000,491.075000,492.925000,491.920833,481.016667,459.395833,457.987500,460.487500,465.420833,471.525000,478.795833,484.700000,489.904545
South Carolina,1826.645833,1863.170833,1906.091667,1945.079167,1926.137500,1814.025000,1811.295833,1832.758333,1864.320833,1901.012500,1951.358333,2004.375000,2050.068182
South Dakota,383.583333,390.045833,398.600000,406.545833,411.416667,403.708333,403.175000,407.495833,414.087500,417.712500,423.750000,428.129167,435.713636
Tennessee,2705.800000,2743.091667,2782.912500,2797.641667,2775.087500,2619.450000,2615.179167,2661.683333,2715.158333,2759.962500,2821.720833,2892.033333,2959.436364
Texas,9493.808333,9737.112500,10063.158333,10392.883333,10606.729167,10304.625000,10336.991667,10567.650000,10877.700000,11204.720833,11559.470833,11838.770833,12018.004545
Utah,1104.370833,1148.062500,1203.616667,1253.212500,1252.583333,1188.812500,1182.612500,1207.737500,1250.366667,1290.458333,1327.658333,1377.770833,1419.081818
Vermont,302.987500,305.516667,307.766667,308.345833,307.229167,297.220833,298.000000,300.716667,304.500000,306.641667,309.604167,312.425000,316.390909
Virginia,3587.533333,3667.379167,3732.491667,3769.370833,3772.354167,3649.958333,3646.675000,3692.841667,3735.662500,3762.520833,3783.345833,3850.787500,3921.159091
Washington,2739.925000,2812.325000,2894.195833,2968.250000,2993.770833,2862.729167,2835.741667,2872.175000,2918.979167,2985.912500,3065.266667,3154.070833,3248.450000
West Virginia,742.204167,751.454167,762.320833,764.037500,769.095833,752.679167,754.795833,762.612500,772.912500,771.537500,769.029167,764.083333,762.468182
Wisconsin,2802.141667,2835.804167,2859.316667,2875.995833,2868.283333,2741.162500,2725.045833,2751.762500,2780.650000,2809.429167,2852.408333,2888.970833,2928.095455
Wyoming,255.412500,263.933333,277.295833,288.816667,297.475000,285.254167,281.812500,286.041667,288.833333,289.337500,293.004167,290.475000,281.736364

Now that all of our data is properly formatted, we can perform our analysis. In the next section, we manipulate the dataframes we created with the goal of predicting whether a state will be red or blue in 2016. We do this by training an SVC on the voter and employment datasets for 2008 and 2012 that we generated.

## Analyzing Employment Data

First, we aggregate the employment of our blue collar industries into one big dataframe listing each state's blue collar employees in each election year.

In [20]:
def create_blue_collar_df(construction, manufacturing, transport_trade):
    df = pd.DataFrame({
            "state": states,
            2004: construction['2004'] + manufacturing['2004'] + transport_trade['2004'],
            2008: construction['2008'] + manufacturing['2008'] + transport_trade['2008'],
            2012: construction['2012'] + manufacturing['2012'] + transport_trade['2012'],
            2016: construction['2016'] + manufacturing['2016'] + transport_trade['2016']
        })
    return df
    
blue_collar_df = create_blue_collar_df(construction_df, manufacturing_df, transport_and_trade_df)

We then use this dataframe and the total employment dataframe to make our SVM input dataframes.

In [21]:
def create_SVM_input(year, blue_collar_df, total_employment_df, df_4_years_ago):
    df = pd.DataFrame({"state": states, 
                       "blue_collar_change_last_8_years": (blue_collar_df[year] - blue_collar_df[year - 8]) / blue_collar_df[year - 8],
                       "total_employment_change_last_8_years": (total_employment_df[year] - total_employment_df[year - 8]) / total_employment_df[year - 8]})
    df["proportion_blue_4_years_ago"] = find_percent_blue(df["state"], year)
    return df

df_predict_2012 = create_SVM_input(2012, blue_collar_df, total_employment_df, df_2008)
df_predict_2016 = create_SVM_input(2016, blue_collar_df, total_employment_df, df_2012)

KeyError: 2012

Next we label each state with its result (1 for Democrat, 0 for Republican) in each of the last 3 presidential elections (2008, 2012, 2016).

In [ ]:
results = {
    'Alabama': [0,0,0], 'Alaska': [0,0,0],
    'Arizona': [0,0,0], 'Arkansas': [0,0,0],
    'California': [1,1,1], 'Colorado': [1,1,1],
    'Connecticut': [1,1,1], 'Delaware': [1,1,1],
    'District Of Columbia': [1,1,1], 'Florida': [1,1,0],
    'Georgia': [0,0,0], 'Hawaii': [1,1,1],
    'Idaho': [0,0,0], 'Illinois': [1,1,1],
    'Indiana': [1,0,0], 'Iowa': [1,1,0],
    'Kansas': [0,0,0], 'Kentucky': [0,0,0],
    'Louisiana': [0,0,0], 'Maine': [1,1,1],
    'Maryland': [1,1,1],'Massachusetts': [1,1,1],
    'Michigan': [1,1,0],'Minnesota': [1,1,1],
    'Mississippi': [0,0,0], 'Missouri': [0,0,0],
    'Montana': [0,0,0], 'Nebraska': [0,0,0],
    'Nevada': [1,1,1], 'New Hampshire': [1,1,1],
    'New Jersey': [1,1,1],'New Mexico': [1,1,1],
    'New York': [1,1,1], 'North Carolina': [1,0,0],
    'North Dakota': [0,0,0],'Ohio': [1,1,0],    
    'Oklahoma': [0,0,0],'Oregon': [1,1,1],
    'Pennsylvania': [1,1,0],'Rhode Island': [1,1,1],
    'South Carolina': [0,0,0],'South Dakota': [0,0,0],
    'Tennessee': [0,0,0],'Texas': [0,0,0],
    'Utah': [0,0,0], 'Vermont': [1,1,1],
    'Virginia': [1,1,1],'Washington': [1,1,1],
    'West Virginia': [0,0,0], 'Wisconsin': [1,1,0],
    'Wyoming': [0,0,0]
}

def provide_labels(year):
    return np.array([v[(year - 2008) / 4] for k, v in results.iteritems()])
    
# df_predict_2012["alphabetical_state_results_2008"] = provide_labels(2008)
df_predict_2012["alphabetical_state_results_2012"] = provide_labels(2012)
df_predict_2016["alphabetical_state_results_2016"] = provide_labels(2016)

Now that we've extracted all the necessary training data, we train an SVM on the features and labels of our training set.

In [ ]:
# classifier for training examples, which are 2012 states and labels
def learn_classifier(training_features, training_labels):
    svc = sklearn.svm.SVC()
    return svc.fit(training_features, training_labels)

trained_svc_industry_to_total = learn_classifier(df_predict_2012["blue_collar_change_last_8_years", 
                                               "total_employment_change_last_8_years"], 
                               df_predict_2012["alphabetical_state_results_2012"])

trained_svc_industry_to_vote = learn_classifier(df_predict_2012["blue_collar_change_last_8_years",
                                               "proportion_blue_4_years_ago"], 
                               df_predict_2012["alphabetical_state_results_2012"])

trained_svc_total_to_vote = learn_classifier(df_predict_2012["total_employment_change_last_8_years", 
                                               "proportion_blue_4_years_ago"], 
                               df_predict_2012["alphabetical_state_results_2012"])

Finally, we run our classifier on our testing set, the states in the 2016 election.

In [ ]:
def eval_classifier(svc, testing_features, testing_labels):
    predicted_labels = svc.predict(testing_features)
    return float(np.sum(predicted_labels == testing_labels)) / testing_features.shape[0]

accuracy_industry_to_total = eval_classifier(trained_svc_industry_to_total, df_predict_2016["blue_collar_change_last_8_years", 
                                                        "total_employment_change_last_8_years"], 
                           df["alphabetical_state_results_2016"])

accuracy_industry_to_vote = eval_classifier(trained_svc_industry_to_vote, df_predict_2016["blue_collar_change_last_8_years",
                                                        "proportion_blue_4_years_ago"], 
                           df["alphabetical_state_results_2016"])

accuracy_total_to_vote = eval_classifier(trained_svc_total_to_vote, df_predict_2016["total_employment_change_last_8_years", 
                                                        "proportion_blue_4_years_ago"], 
                           df["alphabetical_state_results_2016"])


print accuracy_industry_to_total, accuracy_industry_to_vote, accuracy_total_to_vote